<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9747a3ef-f9c7-47b4-bf8e-41935e108ecb/resourceGroups/CapstoneProject/providers/Microsoft.Web/sites/libmanagement</ResourceId>
    <ResourceGroup>CapstoneProject</ResourceGroup>
    <ApiResourceId>/subscriptions/9747a3ef-f9c7-47b4-bf8e-41935e108ecb/resourceGroups/CapstoneProject/providers/Microsoft.ApiManagement/service/LibManagementAPI/apis/LibraryManagementSystemAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://libmanagement.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b0fa5466-8a6c-40d8-bcba-04c43c052262</ProjectGuid>
    <MSDeployServiceURL>libmanagement.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>libmanagement</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$libmanagement</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAhxhv6PpieEOQFYQ9gmAWHAAAAAACAAAAAAAQZgAAAAEAACAAAAD4qZlonntQeV1hxzK7iFE7QXvU0Y/4G/t68eWNEBrP8QAAAAAOgAAAAAIAACAAAABb7j//hjFvJxTNSUcdmj5OZNWdizJDXTV8VevpKUY48oAAAAB0bLvVOwyuk6QoPGW3QPHuzzSocXdBnz0X9wmz8UUIGHA2mMUSr+YaATFkt7eCPur+M/vdYx5cpCSKi81O9+T/OeTDTmWSvYzFXIsfbwY95KffWnffdtZQwmz9G8+FO9qzRu5efJG2zAHPx7DxIJGMUFPC0QwWuctEeIKBcHWXukAAAACigbJwJ80MDN3EN6zKliLdgEZuc6AfQ2BhJlrQapxVLnUBBCbwXGoZBkohe8Q0vXdi8SQucr4+bw+v/HeuK+Qm</EncryptedPassword>
    <History>False|2024-05-06T14:51:56.4306147Z;False|2024-05-06T21:50:18.0764422+07:00;False|2024-05-06T21:50:02.7748584+07:00;False|2024-05-06T21:46:02.2379180+07:00;False|2024-05-06T21:40:58.4443771+07:00;False|2024-05-06T21:40:28.3935378+07:00;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>